<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nuriggiri.nuriggiri.friend.repository.FriendMapper">

    <resultMap id="friendMap" type="com.nuriggiri.nuriggiri.friend.domain.FriendList">
        <result property="userNo" column="user_no"/>
        <result property="targetNo" column="target_no"/>
        <result property="userId" column="user_id"/>
        <result property="nickName" column="nick_name"/>

    </resultMap>

    <!-- 친구  요청 인서트-->
    <insert id="addFriend">
        INSERT INTO nuri_friend
        (user_no, target_no, relationship)
        VALUES
        (#{userNo}, #{targetNo}, #{relationship})
    </insert>

    <!--    친구 목록-->
    <select id="friendList" resultMap="friendMap">
        SELECT b.user_no, b.user_id, b.nick_name
        FROM
        (
        SELECT target_no FROM nuri_friend
        WHERE user_no = #{userNo}
        AND relationship = #{relationship}
        ) A
        , nuri_user B
        WHERE A.target_no = B.user_no
    </select>

    <select id="targetFriendList" resultMap="friendMap">
        SELECT b.user_no, b.user_id, b.nick_name
        FROM
        (
        SELECT user_no FROM nuri_friend
        WHERE target_no = #{userNo}
        AND relationship = #{relationship}
        ) A
        , nuri_user B
        WHERE A.user_no = B.user_no
    </select>


    <!--    친구 삭제-->
    <delete id="removeFriend">
        DELETE FROM nuri_friend
        WHERE user_no = #{userNo} AND target_no = #{targetNo}
    </delete>

    <!--    친구 update-->
    <update id="updateFriend">
        UPDATE nuri_friend
        SET
        relationship = #{relationship}
        WHERE user_no = #{userNo} AND target_no = #{targetNo}
    </update>

    <!--    요청 검증 관계가 어떤것이 되어있는지 확인-->
    <select id="checkRelation" resultMap="friendMap">
        SELECT relationship
        FROM nuri_friend
        WHERE user_no = #{userNo} AND target_no = #{targetNo}
    </select>



</mapper>
