<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에는 사용할 인터페이스 풀 경로(패키지명 포함 인터페이스)를 적는다 -->
<mapper namespace="com.nuriggiri.nuriggiri.channel.repository.ChannelMapper">

    <!-- SELECT 문 처리를 위한 자바 필드와 테이블 컬럼명 매핑 -->
    <!-- resultMap: 자바의 이름규칙과 SQL 의 이름규칙이 다를때 매핑 처리 -->
    <!-- id 속성에는 이 맵의 이름을 만들어주고 type 속성에는 해당 클래스 전체 경로 -->
    <resultMap id="channelMap" type="com.nuriggiri.nuriggiri.channel.domain.Channel">
        <!--  property속성에는 자바핑드명, column은 테이블 컬럼명    -->
        <result property="channelNo" column="channel_no"/>
        <result property="channelName" column="channel_name"/>
        <result property="channelInfo" column="channel_info"/>
        <result property="adminUserNo" column="admin_user_no"/>
        <result property="channelPw" column="channel_pw"/>
        <result property="creationDate" column="reg_date"/>
    </resultMap>

    <!-- 채널 리스트 조회 기능 -->
    <!-- 1. 페이징 없는 버전 -->
    <select id="viewList" resultMap="channelMap">
        SELECT * FROM nuri_channel
        <!--        채널조인테이블 로그인한 유저의 아이디/ 유저번호 검색을 해서 채널 번호나 이름을 받아와서 조회되는 쿼리문-->
    </select>

    <!-- 내가 관리자인 채널 리스트 -->
    <select id="adminList" resultMap="channelMap">
        SELECT * FROM nuri_channel
        WHERE admin_user_no = #{userNo}
    </select>

    <!-- 내가 참여중인 채널 리스트 -->
    <select id="partiList" resultMap="channelMap">
        SELECT b.* FROM
        (SELECT channel_no FROM nuri_channel_join_user WHERE user_no = #{userNo}) A,
        nuri_channel B
        WHERE a.channel_no = b.channel_no
    </select>

    <!-- 3. 검색 쿼리 + 페이징 쿼리 적용 -->
    <select id="getSearchArticles" resultMap="channelMap">
        <![CDATA[
        SELECT
            channel_no, channel_name, channel_info, admin_user_no
        FROM
            (SELECT /*+INDEX_DESC(board pk_nuri_channel)*/
            rownum rn, channel_no, channel_name, channel_info, admin_user_no
        FROM nuri_channel
        WHERE
        ]]>
        (channel_name LIKE '%' || #{keyword} || '%' OR
        channel_info LIKE '%' || #{keyword} || '%') AND
        <![CDATA[
            rownum <= #{page} * #{amount})
        WHERE rn > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <!-- 총 채널 수 조회 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM nuri_channel
    </select>

    <!-- 채널 추가 기능 -->
    <insert id="create">
        INSERT INTO nuri_channel
        (channel_no, channel_name, channel_info, admin_user_no, channel_pw)
        VALUES
        (seq_nuri_channel.nextval, #{channelName}, #{channelInfo}, #{adminUserNo}, #{channelPw})
    </insert>

    <!-- 채널 상세보기 기능 -->
    <select id="viewInfo" resultMap="channelMap">
        SELECT * FROM nuri_channel
        WHERE channel_no = #{channelNo}
    </select>

    <!-- 채널 정보 수정 기능 -->
    <update id="update">
        UPDATE nuri_channel
        SET channel_name = #{channelName},
        channel_info = #{channelInfo},
        channel_pw = #{channelPw}
        WHERE channel_no = #{channelNo}
    </update>

    <!-- 채널 삭제 기능 -->
    <delete id="delete">
        DELETE FROM nuri_channel
        WHERE channel_no = #{channelNo}
    </delete>


</mapper>