/* @import url(../fonts/S-CoreDream/fonts.css); */
@import url(https://ssong6735.github.io/fonts-master/S-CoreDream/fonts.css);


/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
    font-family: 'S-CoreDream-4', sans-serif;
    font-weight: normal;
    font-style: normal;
}


/* 색상 수정시 참고
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;    
  }
*/

/* primary color 수정 */
.btn-primary {
    color: #000;
    background-color: #ffd43b;
    border-color: #ffd43b;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #000;
    background-color: #ffec99;
    border-color: #ffd43b;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ffec99;
    border-color: #ffd43b;
}

.card-primary.card-outline {
    border-top: 3px solid #ffd43b;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #ffd43b;
    color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffd43b;
    color: #000;
}

/* common */
*:focus, a:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

/* adminLTE custom */
.layout-footer-fixed .wrapper .content-wrapper {
    padding-bottom: calc(2.5rem + 1px);
}
.navbar-search-block .input-group {
    width: 100% !important;
}

/* adminLTE custom - right-sidebar */
.layout-fixed .control-sidebar .control-sidebar-content {
    height: calc(100vh - calc(3.5rem + 1px));
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: #a9a9a9 transparent;
}
.os-viewport {
    direction: inherit!important;
    box-sizing: inherit!important;
    resize: none!important;
    outline: 0!important;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}
.os-content {
    direction: inherit;
    box-sizing: border-box!important;
    position: relative;
    display: block;
    /* height: 100%; */
    width: 100%;
    visibility: visible;

    height: calc(100% - (3.5rem + 1px));
    overflow-x: none;
    overflow-y: initial;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: #a9a9a9 transparent;
}
.os-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #6c757d;
    color: #fff;
}
.os-content button.btn-xs {
    font-size: 12px;
    padding: .375rem .75rem;
    height: 35px;
}




/* header */


/* main-sidebar */
.user-panel {}
.user-panel .info-btn {
    /* border: 1px solid red; */
    margin-top: 20px;
}
.user-panel .info-btn .btn {
    font-size: 12px;
}

/* right-sidebar */
.friendSearch {

}

.friendSearch label {
    display: block;
    width: 100%;
    margin-bottom: 3px;
}

.friendSearch #re-button {
    width: 100%;
}

#search-result {
    width: 100%;
    margin: 10px auto;
    padding-top: 10px;
}
#search-result div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#search-result div a {
    flex: 1;
    vertical-align: middle;
    line-height: 25px;
    padding: 5px 10px;
    color: orange;
    font-weight: 600;
    cursor: default;
}

#search-result div a:hover {
    color: orange;
}

.friend-nav {

}

.friend-nav li.menu-open {
    width: 100%;
}

.friend-nav  ul.nav-treeview {
    margin: 10px auto;
}

.friend-nav  ul.nav-treeview li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.friend-nav  ul.nav-treeview li a {
    flex: 1;
    vertical-align: middle;
    line-height: 25px;
    padding: 5px 10px;
    color: orange;
    font-weight: 600;
    cursor: default;
}

.friend-nav  ul.nav-treeview li a:hover {
    color: orange !important;
}

#friendList-div {

}

#friendList-div ul {
    list-style: none;
    padding-left: 0;
}

#friendList-div ul li.list-header {
    font-size: 16px;
    color: #fff;
}

#friendList-div ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#friendList-div ul li a {
    flex: 1;
    vertical-align: middle;
    line-height: 25px;
    padding: 5px 10px;
    color: orange;
    font-weight: 600;
    cursor: default;
}

#friendList-div ul li a:hover {
    color: orange;
}





/* channel */

/* channel content */
.modal {
    margin-top: 10%;
}

.no-channel {
    width: 100%;
    margin: 30px auto;
}

.card-body {
    padding: 30px;
}


.ch-info {
    list-style: none;
    clear: both;
    margin-top: 50px;
}

.ch-info li {
    width: 100%;
}

.ch-info li span:first-child {
    width: 100px;
    display: inline-block;
    background-color: #eee;
    margin-bottom: 10px;
    margin-right: 10px;
}

.ch-info li span.joinNick {
    margin-right: 10px;
}

.ch-info li label {
    width: 150px;
    display: inline-block;
    background-color: #eee;
    margin-bottom: 10px;
    margin-right: 10px;
}

.ch-info li input {
    display: inline-block;
    width: 80%;
    border: 1px solid #ccc;
    text-indent: 10px;
}




/* btn */

.btn-basic {
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

.btn-basic:hover {
    background-color: #004986;
    color: #fff;
}

.list-btn {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

.list-btn a {
    /* color: #fff; */
}





/* board */

.board-content {}

.board-content .card-title {
    margin-bottom: 0;
}

.board-content a {
    /* display: block; */
}

.board-content .card-footer.justify-content-center button {
    margin: 0 5px;
}

.board-content table th,
.board-content table td {
    text-align: center;
}

.board-content table tr td:nth-child(3) {
    text-align: left;
    text-indent: 10px;
}

.search select {
    flex: 1;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.search input {
    flex: 3;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.pagination {
    margin-bottom: 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination li a {
    color: #333;
}


/* reply */
#replies {

}

#replies .form-group {
    margin-bottom: 0;
}
