/* @import url(../fonts/S-CoreDream/fonts.css); */
@import url(https://ssong6735.github.io/fonts-master/S-CoreDream/fonts.css);


/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
    font-family: 'S-CoreDream-4', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* 색상 수정시 참고
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;    
  }
*/

/* primary color 수정 */
.btn-primary {
    color: #000;
    background-color: #ffd43b;
    border-color: #ffd43b;
    box-shadow: none;
}

.btn-primary:hover {
    color: #000;
    background-color: #ffec99;
    border-color: #ffd43b;
}

.card-primary.card-outline {
    border-top: 3px solid #ffd43b;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #ffd43b;
    color: #000;
}


/* header */


/* main-sidebar */
.user-panel {}
.user-panel .info-btn {
    border: 1px solid red;
}
.user-panel .info-btn .btn {
    font-size: 12px;
}



/* channel */

/* channel content */
.ch-info {
    list-style: none;
    clear: both;
}